.about-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

}



.about-container h1{
    margin-bottom: 40px;
    color:white;
}


.about-container p{
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}



@media screen and (max-width:590px){
    .about-container h1{
        font-size: 25px;
    }

    .about-container p{
        font-size: 12px;
    }
    
}















